html {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.nav-item {
    background-color: black;
}

.navbar-dark{
    background-color: black;
}

.carousel-caption {
    text-align: left;
 
    padding-bottom: 50px;
    padding-right: 250px;
}

.subtitulo {
    background-color: black;
    padding: 1rem;
    color: white;
}

.d-flex {
    border-width: 20px;
}

h1, h2, h3,h5{
    font-family:'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.sub {
    font-weight: 700;
}


.carousel-control-prev {
    width: 10%;
}

.carousel-control-next {
    width: 10%;
}

.btn {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 1rem 2rem;
    color: #fff;
    margin-right: 1.25rem;
    cursor: pointer;
    transition: .3s ease;

}
.card {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.card:hover { 
    box-shadow: 0 0 1rem #fff;
}
.mov {
    padding-left: 15rem;
    padding-right: 15rem;
}

.card-img-top {
    border-top-right-radius:  10px;
    border-top-left-radius: 10px;
}

.modal-content{
    background: black;
}

a{
    color: #fff;
}

footer{
    color: white;
    background-color: #7E5109;
    padding: 1rem;
    
}

.text-center{
    color: white;
    margin-top: 30px;
}
.text{
    text-align: center;
}