html {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #214E63;
    color: white;
    padding: 1rem 0.5rem;
}

header h1{
    font-size: 3rem;
    text-align: center;
}

.caja {
    position: relative;
    top: 50px;
    left: 500px;
    font-weight: 700;
    top: 30px;
}

.txt {
    position: relative;
    top: 20px;
    left: 40px;
}

#contar {
    color: #C96B5E;
    font-size: 20px;
}